<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Send some messages</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<h2>Send some messages to a queue</h2>

<form action="#" th:action="@{/sendToQueue}" method="post" th:object="${sendForm}">
    <label for="numberOfQueueMessages"># of Queue messages:</label>
    <input id="numberOfQueueMessages" th:field="*{numberOfQueueMessages}" type="text"/>
    <p/>&nbsp;
    <p/>&nbsp;
    <input type="submit" value="Do it!"/>
</form>
<h2>Send some messages to a queue</h2>

<form action="#" th:action="@{/sendToTopic}" method="post" th:object="${sendForm}">
    <label for="numberOfTopicMessages"># of Topic messages:</label>
    <input id="numberOfTopicMessages" th:field="*{numberOfTopicMessages}" type="text"/>
    <p/>&nbsp;
    <p/>&nbsp;
    <input type="submit" value="Do it!"/>
</form>

</body>
</html>
