<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Messages are being sent</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="mt-5">
            <div class="container">
                <h2><span th:text="${numberOfMessages}">5</span>&nbsp;messages are being sent to [<span th:text="${destination}">foo</span>]</h2>

                <a href="#" onclick="history.back()">Go Back</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
